{% extends 'base.html' %}

{% block content %}

<form method="get">
    <div class="row">
        <div class="col-10">
            <input
                type="text"
                name="q"
                placeholder="Search complaints..."
                class="form-control"
                value="{{ query }}"
            >
        </div>

        <div class="col-2">
            <button
                type="submit"
                class="btn btn-primary w-100">
                Search
            </button>
        </div>

    </div>

</form>

<h2 class="mt-4">{{ title }}</h2>

<hr>

<table class="table table-striped">

    <thead>
        <tr>
            <th>S.No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>User</th>
        </tr>
    </thead>

    <tbody>

        {% for complaint in page_obj %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>

            <td>{{ complaint.title }}</td>

            <td>{{ complaint.description }}</td>

            <td>

                {% if complaint.status == "OPEN" %}

                <span class="badge bg-danger">
                    OPEN
                </span>

                {% elif complaint.status == "RESOLVED" %}

                <span class="badge bg-success">
                    RESOLVED
                </span>

                {% else %}

                <span class="badge bg-warning">
                    {{ complaint.status }}
                </span>

                {% endif %}

            </td>

            <td>{{ complaint.user.username }}</td>

        </tr>
        {% endfor %}

    </tbody>

</table>

<br>

<nav class="mt-4">

    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">
                    Previous
                </a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                {{ page_obj.number }}
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">
                    Next
                </a>
            </li>
        {% endif %}

    </ul>

</nav>

{% endblock %}