{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

    <h2>Find Complaint</h2>

    <form method="get">

        <input
            type="text"
            name="complaint_id"
            placeholder="Enter Complaint ID"
            class="form-control"
        >

        <button
            type="submit"
            class="btn btn-primary mt-3"
        >
            Show
        </button>

    </form>

</div>

<br>

{% if complaint %}

<div class="card p-4">

    <h2>{{ complaint.title }}</h2>

    <p>{{ complaint.description }}</p>

    <h4>
        Current Status:
        <span class="badge bg-secondary">
            {{ complaint.status }}
        </span>
    </h4>

    <hr>

    <form method="post">

        {% csrf_token %}

        <!-- Hidden field -->
        <input
            type="hidden"
            name="complaint_id"
            value="{{ complaint.id }}"
        >

        <input
            type="text"
            name="status"
            placeholder="Enter New Status"
            class="form-control"
        >

        <button
            type="submit"
            class="btn btn-success mt-3"
        >
            Update Status
        </button>

    </form>

</div>

{% endif %}

{% endblock %}